PORT=8081
NODE_ENV=development
NAME_APP=NewsNexusLiteWorker
PATH_TO_LOGS=/absolute/path/to/logs
LOG_MAX_SIZE=5
LOG_MAX_FILES=5
ARTICLE_CONTENT_02_ARTICLE_TIMEOUT_MS=90000
ARTICLE_CONTENT_02_BROWSER_RECYCLE_ATTEMPTS=25
ARTICLE_CONTENT_02_BROWSER_RECYCLE_NAVIGATION_ERRORS=3
