ARTICLE_LIMIT_GOOGLE_RSS_SEARCH=10
GOOGLE_RSS_HL=en-US
GOOGLE_RSS_GL=US
GOOGLE_RSS_CEID=US:en
WORKER_NODE_URL=http://localhost:8081
LOG_LEVEL=info
# PATH_TO_LOGS=/absolute/path/to/logs
# LOG_MAX_SIZE=5
# LOG_MAX_FILES=5
